<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="../../bower_components/angular/angular.js"></script>
</head>
<body ng-controller="ctrl">
<div class="container">
  <person say-hi="sayHi()"></person>
  <person></person>
  <person></person>
</div>
<script>
var app=angular.module('app',[])
.controller("ctrl",function($scope){
  $scope.sayHi=function(){
    console.log("hi");
  }
})
.directive("person",function(){
  return{
    restrict: "E",
    scope: {
      "hi": "&sayHi"
    },
    template: '<div class="well"><input type="text" ng-model="name">{{name}}' + 
              '<a ng-click="hi()" class="btn btn-default">click</a></div>' 
  }
});
</script>
</body>
</html>