<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="../../bower_components/angular/angular.js"></script>
</head>
<body ng-controller="ctrl">
<div class="container">
  <person sayHi="sayHi"></person>
  <person></person>
  <person></person>
</div>
<script>
var app=angular.module('app',[])
.controller("ctrl",function($scope){
  $scope.sayHi=function(name){
    console.log("hi from " + name);
  }
})
.directive("person",function(){
  return{
    restrict: "E",
    scope{
      sayHi: "&"
    },
    template: '<input type="text" ng-model="name">{{name}}' + 
              '<input ng-click=sayHi() type="button" class="btn btn-default>click</input>' 
  }
});
</script>
</body>
</html>