<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="../../bower_components/angular/angular.js"></script>
</head>
<body ng-controller="ctrl">
<div class="container">
  <person greet="sayHi(name)"></person>
  <person greet="sayHi('a')"></person>
  <person greet="sayHi(name)"></person>
</div>
<script>
var app=angular.module('app',[])
.controller("ctrl",function($scope){
  $scope.sayHi=function(name){
    console.log("hi from " + name);
  }
})
.directive("person",function(){
  return{
    restrict: "E",
    scope:{
      greet: "&"
    },
    template: '<input type="text" ng-model="name">{{name}}' +
              '<div class="btn btn-default" ng-click="greet({name:name})">Say hi!</div>'
  }
});
</script>
</body>
</html>