<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
</head>
<body ng-controller="ctrl">
  <person greet="sayHi(name)"></person>
  <person greet="sayHi('a')"></person>
  <person greet="sayHi(name)"></person>
<script>
var app=angular.module('app',[])
.controller("ctrl",function($scope){
  $scope.sayHi=function(name){
    console.log("hi from " + name);
  }
})
.directive("person",function(){
  return{
    restrict: "E",
    scope:{
      greet: "&"
    },
    template: '<input type="text" ng-model="name">{{name}}' +
              '<div class="btn" ng-click="greet({name:name})">Say hi!</div>'
  }
});
</script>
</body>
</html>